* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topbar {
    background-color: #1e3522;
    color: #f7f4eb;
    text-align: center;
    padding: 10px 20px;
    font-size: 0.75rem;
    letter-spacing: 2px;
    font-weight: 500;
}

.navbar {
    background-color: #fcfaf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom: 1px solid #e0dacb;
    max-height: 100px;
}

.brand {
    display: flex;
    flex-direction: column;
}


.menu{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    img{
        width: 100px;
    }
}